# Skewer
.vagrant
.gitignore
.skewer.json
features/support/puppetcode/manifests/nodes.pp

# Gem-related
*.gem
.bundle
Gemfile.lock
pkg/*

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Vim
.*.sw[a-z]
*.un~
Session.vim

# OS X
.DS_Store
._*
.Spotlight-V100
.Trashes

# Misc
coverage
tmp
target
.idea
